<h3 class="header" {{action "toggle"}} {{bind-attr class="expanded"}}>
  {{title}}
  {{#unless action}}
    <span class='icon'>
      {{#if expanded}}
        -
      {{else}}
        +
      {{/if}}
    </span>
  {{/unless}}
</h3>
{{#if expanded}}
  {{yield}}
{{/if}}
