<tr class="track" {{bind-attr class="playing:playing"}} {{action 'playPause' track}}>
  <td>{{position}}</td>
  <td>{{title}}</td>
  <td>{{format-duration length}}</td>
  <td>
    {{#if playing }}
      <i class="icon ion-ios7-pause"></i>
    {{else}}
      <i class="icon ion-ios7-play"></i>
    {{/if}}
  </td>
</tr>
