<div id="album">
  <div class="meta-data">
    <div class="album-art-wrapper">
      <img class='art' {{bind-attr src="art" alt="altText" }}>
      <div class="show-play-button" {{action "playPause" firstTrack}}><img src="/assets/images/play_button.png"></div>
    </div>
    <div class="album-info-block">
      <h3 class="album">{{title}}</h3>
      {{#link-to 'artist' artistSlug classNames="artist"}}
        {{artist_name}}
      {{/link-to}}
      <h4>
        {{record_label}}
      </h4>
      <h4>
        {{release_date}}
      </h4>
    </div>
  </div>
  <div class='actions'>
    {{#if inCollection}}
      {{#y-block title="Remove from Your Collection" action="remove" parameter=model class="add-button"}}
      {{/y-block}}
    {{else}}
      {{#y-block title="Add to Your Collection" action="collect" parameter=model class="add-button"}}
      {{/y-block}}
    {{/if}}
    {{#y-block title="Download" class="download-block"}}
      <p>
      <a href='#' {{action download 'mp3'}}><img class="download-filetype-images" src="/assets/images/download-icon.png">MP3</a>
      </p>
      <p>
      <a href='#' {{action download 'flac'}}><img class="download-filetype-images" src="/assets/images/download-icon.png">FLAC</a>
      </p>
      <p>
      <a href='#' {{action download 'aac'}}><img class="download-filetype-images" src="/assets/images/download-icon.png">AAC</a>
      </p>
      <p>
      <a href='#' {{action download 'alac'}}><img class="download-filetype-images" src="/assets/images/download-icon.png">ALAC</a>
      </p>
    {{/y-block}}

    {{#y-block title="Track List" expanded="true"}}
      <table>
        <tbody>
          {{#each track in tracks}}
            {{render 'list/track' track}}
          {{/each}}
        </tbody>
      </table>
    {{/y-block}}

    {{#y-block title="Options to Purchase"}}
      <p>
        <a href="http://www.b-sidemadison.com/" target="_blank">B-Side Records</a> - CD, Vinyl
      </p>
      <p>
        <a href="http://www.madcitymusic.net/" target="_blank">MadCity Music Exchange</a> - CD, Vinyl
      </p>
      <p>
        <a href="https://www.murfie.com/" target="_blank">Murfie</a> - CD, Vinyl, Download, Stream
      </p>
      <p>
        <a href="http://www.strictlydiscs.com/" target="_blank">Strictly Discs</a> - CD, Vinyl
      </p>
    {{/y-block}}
  </div>
  <div class='info'>
    {{#y-block title="Review" expanded='true' column='left-col'}}
      {{{review}}}
    {{/y-block}}
  </div>
</div>
