<img {{bind-attr src="art"}} height="100">
<h4>{{title}}</h4>
<h5>{{main_artist.name}}</h5>
<ul>
{{#each track in tracks}}
  <li>
    {{track.position}} - {{track.title}} - {{track.duration}} 
    {{#if track.playing }}
      <button {{action 'pause' track}}>Pause</button>
    {{else}}
      <button {{action 'play' track}}>Play</button>
    {{/if}}
  </li>
{{/each}}
</ul>