{{render 'player'}}

<div id="content">
  <div id="header">
    <div id='logo' class="small-12 large-6 columns">
      {{#link-to 'albums'}}<img src="/assets/images/logo-horiz.png">{{/link-to}}
    </div>
    <div id='nav' class="small-12 large-6 columns">
      <ul>
        <li>{{#link-to 'albums'}}Catalog{{/link-to}}</li>
        {{#if authorized }}
          <li>{{#link-to 'collection'}}Your Collection{{/link-to}}</li>
          <li><a href="/logout" {{action 'signOut'}}>Logout</a></li>
        {{else}}
          <li><a href="/login" {{action 'openModal'}}>Login</a></li>
        {{/if}}
      </ul>
    {{input id='search' placeholder='SEARCH CATALOG' value=searchString}}
    <div class="spyglass"><img src="/assets/images/spyglass_grey.png"></div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="divider">
      </div>
    </div>
  </div>
  {{outlet}}
  <div id="footer">
    {{y-toplink}}
  </div>
</div>

{{render 'modal'}}
