{{render 'player'}}

<div id="content">
  <div id="header">
    <div id='logo'>
      {{#link-to 'albums'}}<img src="/assets/images/logo-horiz.png">{{/link-to}}
    </div>
    <div id="nav">
      <ul class="menu">
        <li>{{#link-to 'albums'}}Catalog{{/link-to}}</li>
        {{#if authorized }}
        <li>{{#link-to 'collection'}}Your Collection{{/link-to}}</li>
         <li><a href="/logout" {{action 'signOut'}}>Logout</a></li>
        {{else}}
         <li><a href="/login" {{action 'openModal'}}>Login</a></li>
        {{/if}}
      </ul>
    </div>
    <div id="mobile-nav" class="small-12 columns">
      <ul class="mobile-menu">
        <li>{{#link-to 'albums'}}Catalog{{/link-to}}</li>
        {{#if authorized }}
        <li>{{#link-to 'collection'}}Your Collection{{/link-to}}</li>
         <li><a href="/logout" {{action 'signOut'}}>Logout</a></li>
        {{else}}
         <li><a href="/login" {{action 'openModal'}}>Login</a></li>
        {{/if}}
      </ul>
    </div>
  {{render 'search'}}
</div>
  <div class="row">
    <div class="small-12 columns">
      <div id="divider">
      </div>
    </div>
  </div>
  {{outlet}}
  <div id="footer">
    {{y-toplink}}
  </div>
</div>

{{render 'modal'}}
