<div id="artist-header">
  <div class="small-12 columns">
    <div class='artist-image-wrapper'>
      <img {{bind-attr src="banner_image"}}/>
      <h1 class='artist-name'>{{name}}</h1>
    </div>
  </div>
</div>
<div id="artist-info">
  <div id="left">
    {{#y-block title="Youtube" expanded='true'}}
      {{youtube youtube_url}}
    {{/y-block}}
    {{#if hasSongkick}}
      {{#y-block title="Events" expanded='true'}}
        {{#if hasEvents}}
          {{#each event in songkick.resultsPage.results.event }}
            <p><a {{bind-attr href=event.uri }} target="_blank">{{event.displayName}}</a></p>
          {{/each}}
          <p>Event information provided by <a href="http://www.songkick.com/" target="_blank">songkick.com</a></p>
        {{else}}
          <p>This artist has no upcoming events listed on songkick.com</p>
        {{/if}}
      {{/y-block}}
    {{/if}}
    {{#y-block title="Links" expanded='true'}}
      {{#each social_media_urls}}
        <p><a {{bind-attr href=url}} target="_blank">{{name}}</a></p>
      {{/each}}
      <p><a {{bind-attr href=website_url}} target="_blank">Artist Website</a></p>
    {{/y-block}}
  </div>
  <div id="right">
    {{#y-block title="Biography" expanded='true'}}
      {{{bio}}}
    {{/y-block}}
  </div>
</div>
