<div id='modal'>
  <div class="reveal-modal-bg" style="display: block;" {{action 'close'}}></div>
  <div class="reveal-modal" data-reveal="" style="visibility: visible; display: block; opacity: 1;">
    <h2>Woah there!</h2>
    <p>We'll need you to give us some more information before you can access that page</p>
    {{#if currentUser.error}}
      <div class="flash-login">
        <i class ="flash-icon ion-alert"></i><p>Please enter a valid library card number and password</p>
      </div>
    {{/if}}
    <p>{{input id="card-number" value=currentUser.cardnumber placeholder="Card Number"}}</p>
    <p>{{input id="password" value=currentUser.password placeholder="Password"}}</p>
    <button class='login' {{action submit}}>Submit</button>
    <a class="close-reveal-modal" {{action 'close'}}>×</a>
  </div>
</div>
