{{#if content}}
  <div id="player">
    <div class="previous-track">
      {{#if previousTrack }}
        <div class="album">
          <img class='art' {{bind-attr src="previousTrack.album.art"}}>
          <div class='title'>{{previousTrack.album.title}}</div>
          <div class='artist'>{{previousTrack.album.main_artist.name}}</div>
          {{previousTrack.title}}
        </div>
      {{else}}
        &nbsp;
      {{/if}}
    </div>
    <div class="current-track">
      <div class="album">
        <img class='art' {{bind-attr src="album.art"}}>
        <div class='title'>{{album.title}}</div>
        <div class='artist'>{{album.main_artist.name}}</div>
        {{title}}
      </div>
      <div class="controls">
        <i class="icon ion-ios7-rewind" {{action "play" previousTrack}}></i>
        {{#if playing }}
          <i class="icon ion-ios7-pause" {{action "toggle"}}></i>
        {{else}}
          <i class="icon ion-ios7-play" {{action "toggle"}}></i>
        {{/if}}
        <i class="icon ion-ios7-fastforward" {{action "play" nextTrack}}></i>
      </div>
      <div class="position">
        <div {{bind-attr style="pctStyle"}}></div>
      </div>
    </div>
    <div class="next-track">
      {{#if nextTrack }}
        <div class="album">
          <img class='art' {{bind-attr src="nextTrack.album.art"}}>
          <div class='title'>{{nextTrack.album.title}}</div>
          <div class='artist'>{{nextTrack.album.main_artist.name}}</div>
          {{nextTrack.title}}
        </div>
      {{else}}
        &nbsp;
      {{/if}}
    </div>
  </div>
  <div id="player-shadow">
  </div>
{{/if}}