{{#if track}}
  <div id="player" class="row">
    <div class="third show-for-medium-up">
      {{#if previousTrack }}
        <div class="album">
          <img class='art' {{bind-attr src="album.art"}}>
          <div class='title'>{{album.title}}</div>
          <div class='artist'>{{album.main_artist.name}}</div>
          {{previousTrack.title}}
        </div>
      {{/if}}
    </div>
    <div class="third main-player">
      <div class="album">
        <img class='art' {{bind-attr src="track.album.art"}}>
        <div class='title'>{{track.album.title}}</div>
        <div class='artist'>{{track.album.main_artist.name}}</div>
        {{track.title}}
      </div>
      <div class="controls">
        <i class="icon ion-ios7-rewind"></i>
        {{#if track.playing }}
          <i class="icon ion-ios7-pause" {{action "toggle"}}></i>
        {{else}}
          <i class="icon ion-ios7-play" {{action "toggle"}}></i>
        {{/if}}
        <i class="icon ion-ios7-fastforward"></i>
        <div class="position">
          <div {{bindAttr style="track.pctStyle"}}></div>
        </div>
      </div>
    </div>
    <div class="third show-for-medium-up">
      {{#if nextTrack }}
        <div class="album">
          <img class='art' {{bind-attr src="album.art"}}>
          <div class='title'>{{album.title}}</div>
          <div class='artist'>{{album.main_artist.name}}</div>
          {{nextTrack.title}}
        </div>
      {{/if}}
    </div>
  </div>
  <div id="nav-bar-drop-shadow">
  </div>
{{/if}}